<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
	           <!— 必填项，ipa文件 —>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://www.jokerfake.cn:8443/ipa/test.ipa</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <!-- 必填项，应用程序的indentifier>
               <key>bundle-identifier</key>
               <string>com.ddtech.propertymanagement</string>
               <!-- 可选项，应用程序的版本号 -->
               <key>bundle-version</key>
               <string>1.0</string>
               <!-- —必填项 下载类型默认为software -—>
               <key>kind</key>
               <string>software</string>
               <!-- 可选项 在提示下载时显示，一般为公司的名称 -->
               <key>subtitle</key>
               <string>DDtech</string>
               <!-- 必填项，在下载的过程中显示.—>
               <key>title</key>
               <string>东电内部管理</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
